<section>
  <div class="imgbx animate__animated animate__fadeInLeft">
    <img src="/assets/dist/img/fondo2.jpg" alt="">
  </div>
  <div class="contentbox">
    <div class="formbox animate__animated animate__fadeInUp border p-5">
      <h2>INGRESO AL SISTEMA</h2>
      <form id="loginForm" (ngSubmit)="login()" autocomplete="off" [formGroup]="formLogin">
        <div class="inputbox"  [ngClass]="{'has-errors': formService.campoNoValido('email', formLogin, formSubmited)}">
          <span>E-mail</span>
          <input type="email" name="email" class="" placeholder="E-mail"
            [ngClass]="{'is-invalid': formService.campoNoValido('email', formLogin, formSubmited)}" id="email"
            formControlName="email">
          <label class="error invalid-feedback"> Ingrese E-mail</label>
        </div>

        <div class="inputbox"  [ngClass]="{'has-errors': formService.campoNoValido('password', formLogin, formSubmited)}">
          <span>Password</span>
          <input type="password" name="email" placeholder="Contraseña"
            [ngClass]="{'is-invalid': formService.campoNoValido('password', formLogin, formSubmited)}" id="password"
            formControlName="password">
          <label class="error invalid-feedback"> Ingrese Contraseña</label>

        </div>
        <div class="remember">
          <label><input type="checkbox" name=""> Recordarme</label>
        </div>
        <div class="inputbox">
          <input type="submit" value="INGRESAR" name="ingresar">
        </div>

      </form>
    </div>
  </div>
</section>