<div class="modal fondo-modal" [ngClass]="modalService.getOcultarModal()?'':'modal-display-block'" id="modal-lg"
    style="padding-right: 17px; " aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg animate__animated animate__fadeInDown">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar Especializacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="formEspecializacion" (ngSubmit)="submit()" autocomplete="off" [formGroup]="formEspecializacion">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Especialización:</label>
                        <input type="text" class="form-control" id="nombre_especializacion"
                            placeholder="Especialización" name="nombre_especializacion" formControlName="nombre"
                            [ngClass]="{'is-invalid': _fs.campoNoValido('nombre', formEspecializacion, formSubmited)}">
                        <span class="error invalid-feedback">Por favor ingrese el nombre de una especialización.</span>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Especializacion</label>
                        <select type="text" class="form-control" id="tipo_especializacion" name="tipo_especializacion"
                            formControlName="tipo"
                            [ngClass]="{'is-invalid': _fs.campoNoValido('tipo', formEspecializacion, formSubmited)}">
                            <option [ngValue]="null">
                                <-- SELECCIONE TIPO DE ESPECIALIZACION -->
                            </option>
                            <option *ngFor="let especializacion of selectEspecializaciones" [ngValue]="especializacion">
                                {{ especializacion.nombre }}
                            </option>
                        </select>
                        <span class="error invalid-feedback">Por favor seleccione un tipo de especializacion.</span>
                    </div>
                </div>
                <div class="overlay" *ngIf="cargando">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="cerrarModal()">Salir</button>
                    <button type="submit" class="btn bg-indigo"><i class="fas fa-save mr-2"></i> Guardar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>