<section class="content m-2">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid animate__animated">
                <div class="card card-info card-outline">
                    <div class="card-header text-center">
                        <h5 class="card-title m-0"><i class="fas fa-clock"></i> Periodos</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-right pr-2">
                            <button class="btn btn-app bg-green animate__animated animate__fadeInLeft"
                                (click)="abrirModal()">
                                <i class="fas fa-plus"></i> NUEVO
                            </button>
                        </div>
                    <div class="table-responsive">
                        <table id="example1" class="table table-hover border">
                            <thead>
                                <tr class="text-center bg-navy">
                                    <th>ID</th>
                                    <th>DESCRIPCIÓN</th>
                                    <th>FECHA INICIO</th>
                                    <th>FECHA FIN</th>
                                    <th>ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="text-center" *ngIf="periodos.length <= 0">
                                    <th colspan="6">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </th>
                                </tr>

                                <tr *ngFor="let p of periodos">
                                    <td class="text-center">
                                        {{ p.id }}
                                    </td>
                                    <td>
                                        {{ p.nombre}}
                                    </td>
                                    <td class="text-center">
                                        {{ p.fecha_inicio}}
                                    </td>
                                    <td class="text-center">
                                        {{ p.fecha_fin}}
                                    </td>
                                    <td class="text-center">
                                        <span class="badge"
                                            [ngClass]="getEstado(p.fecha_fin) === 'EN PROCESO'?'bg-yellow':'badge-success'">
                                            {{ getEstado(p.fecha_fin)}}
                                        </span>

                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-modal-create-periodo></app-modal-create-periodo>