<div class="content">
    <div class="container">
        <form id="formEspecializacion" autocomplete="off" [formGroup]="especializacionForm" (ngSubmit)="guardar()">
            <div class="card card-indigo ">
                <div class="card-header text-center">
                    <h5 class="card-title m-0"><strong>Modificar Especializacion</strong></h5>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-8">
                            <label>Especialización:</label>
                            <input type="text" class="form-control"
                                [ngClass]="{'is-invalid': this._fs.campoNoValido('especializacion', especializacionForm, true)}"
                                id="nombre_especializacion" placeholder="Especialización" name="nombre_especializacion"
                                formControlName=especializacion>
                            <span class="error invalid-feedback">Por favor ingrese nombre de especializacion.</span>
                        </div>
                        <div class="col-4">
                            <label>Tipo:</label>
                            <select type="text" class="form-control"
                                [ngClass]="{'is-invalid': this._fs.campoNoValido('tipo', especializacionForm, true)}"
                                id="tipo_especializacion" name="tipo_especializacion" formControlName="tipo"
                                [compareWith]="compareTipo">
                                <option [ngValue]="null">
                                    <-- SELECCIONE TIPO DE ESPECIALIZACION -->
                                </option>
                                <option *ngFor="let tipo of tipos" [ngValue]="tipo">
                                    {{ tipo.nombre }}
                                </option>
                            </select>
                            <span class="error invalid-feedback">Por favor seleccione un tipo de especializacion.</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="card-title"><i class="fas fa-book"></i> <strong> Cursos</strong> </h5>
                    <div class="text-right">
                        <button type="button" class="btn btn-success btn-flat" (click)="abrirModal()">
                            <i class="fas fa-plus mr-2"></i> Añadir Curso</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-12">
                            <table id="example1" class="table table-hover table-bordered">
                                <thead>
                                    <tr class="text-center bg-cyan">
                                        <th>CODIGO</th>
                                        <th>ESPECIALIZACION</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="especializacionBD && especializacionBD.cursos.length == 0">
                                    <tr class="text-center">
                                        <th colspan="3">Not found</th>
                                    </tr>

                                </tbody>
                                <tbody *ngIf="especializacionBD && especializacionBD.cursos.length > 0">
                                    <tr *ngFor="let curso of especializacionBD.cursos">
                                        <td class="text-center">{{curso.id}}</td>
                                        <td>{{curso.nombre}}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="removeCurso(curso.id)">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="container text-right">
                                <button type="button" routerLink="/sistema/especializaciones"
                                    class="mr-2 btn btn-outline-danger">Cancelar</button>
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="overlay" *ngIf="cargando">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<app-modal-cursos-especializaciones (cursoSeleccionado)="setSeleccionado($event)"></app-modal-cursos-especializaciones>