<div class="modal fondo-modal" [ngClass]="modalService.getOcultarModal()?'':'modal-display-block'" id="modal-lg"
    style="padding-right: 17px; " aria-modal="true" role="dialog">
    <div class="modal-dialog animate__animated animate__fadeInDown">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">REGISTRAR NUEVO AÑO ACADÉMICO</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="formEspecializacion" (ngSubmit)="submit()" autocomplete="off" [formGroup]="formPeriodo">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Detalle:</label>
                        <input type="text" class="form-control" placeholder="Detalle de Periodo" name="nombre_periodo"
                            formControlName="nombre"
                            [ngClass]="{'is-invalid': _fs.campoNoValido('nombre', formPeriodo, formSubmited)}">
                        <span class="error invalid-feedback">Por favor ingrese un alias al nuevo Periodo.</span>
                    </div>
                    <div class="form-group">
                        <label>Fecha Inicio:</label>
                        <input type="date" class="form-control" placeholder="Fecha Inicio" name="fecha_inicio"
                            formControlName="fecha_inicio"
                            [ngClass]="{'is-invalid': _fs.campoNoValido('fecha_inicio', formPeriodo, formSubmited)}">
                        <span class="error invalid-feedback">Por favor ingrese una fecha de inicio.</span>
                    </div>
                    <div class="form-group">
                        <label>Cada: (Dias)</label>
                        <input type="number" class="form-control" placeholder="Cada" name="cada" formControlName="cada"
                            value="20" min="20" max="30"
                            [ngClass]="{'is-invalid': _fs.campoNoValido('cada', formPeriodo, formSubmited)}">
                        <span class="error invalid-feedback">Por favor ingrese una fecha de fin.</span>
                    </div>
                    <div class="form-group">
                        <label>Duración por Periodo: (Meses)</label>
                        <input type="number" class="form-control" placeholder="Duración por Periodo" name="cada"
                            formControlName="duracion" min="6" max="12"
                            [ngClass]="{'is-invalid': _fs.campoNoValido('duracion', formPeriodo, formSubmited)}">
                        <span class="error invalid-feedback">Por favor ingrese una fecha de fin.</span>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="cerrarModal()">Salir</button>
                    <button type="submit" class="btn bg-success"><i class="fas fa-save mr-2"></i> Guardar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>