<section class="content">
    <div class="container-fluid animate__animated">
        <div class="card card-indigo card-outline">
            <div class="card-header text-center">

                <h5 class="card-title m-0"><i class="fas fa-user"></i> Estudiantes</h5>
            </div>
            <div class="card-body">
                <div class="text-right pr-2">
                    <button class="btn btn-app bg-green animate__animated animate__fadeInLeft" routerLink="form">
                        <i class="fas fa-plus"></i> NUEVO
                    </button>
                    <button class="btn btn-app bg-indigo" (click)="listar(activo)">
                        <i class="fas fa-check-circle"></i> ACTIVOS
                    </button>
                    <button class="btn btn-app bg-danger" (click)="listar(inactivo)">
                        <i class="fas fa-times-circle"></i> INACTIVOS
                    </button>
                    <button class="btn btn-app bg-primary" (click)="listar(ALL)">
                        <i class="fab fa-canadian-maple-leaf"></i> TODO
                    </button>
                </div>
                <table id="estudiantes"
                    class="table mt-2 table-hover table-bordered border animate__animated animate__lightSpeedInLeft">
                    <thead>
                        <tr class="text-center bg-indigo">
                            <th>COD</th>
                            <th>NOMBRES</th>
                            <th>NUM DOC</th>
                            <th>DISTRITO</th>
                            <th>SEDE</th>
                            <th>ESTADO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngIf="cargando">
                            <th colspan="6">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </th>
                        </tr>
                        <tr *ngFor="let estudiante of estudiantes">
                            <td class="text-center">
                                {{ estudiante.id }}
                            </td>
                            <td>
                                {{ estudiante.nombres + ' ' + estudiante.apellidos}}
                            </td>
                            <td class="text-center">
                                <strong>{{ estudiante.num_doc}}</strong>
                            </td>
                            <td class="text-left">
                                {{ estudiante.distrito.nombre}}
                            </td>
                            <td class="text-left">
                                {{ estudiante.sede.nombre}}
                            </td>
                            <td class="text-center">
                                <span class="badge" [ngClass]="
                                [estudiante.estado === 'ACTIVO' || estudiante.estado === 'MATRICULADO' ?'bg-success':'',
                                estudiante.estado === 'INACTIVO'?'bg-danger':'',
                                estudiante.estado === 'PENDIENTE'?'bg-warning':'']">
                                    {{estudiante.estado}}
                                </span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn bg-primary btn-xs  mr-2 pl-4 pr-4" 
                                    [routerLink]="['form',estudiante.id]"><i class="fas fa-edit"></i> Modificar
                                </button>
                                <button type="button" class="btn bg-danger btn-xs pl-4 pr-4 "
                                    *ngIf="estudiante.estado == 'PENDIENTE'" (click)="delete(true,estudiante)">
                                    <i class="fas fa-trash-alt mr-1"></i> Eliminar</button>
                                <button type="button" class="btn bg-success btn-xs pl-4 pr-4"
                                    *ngIf="estudiante.estado == 'INACTIVO'" (click)="delete(false, estudiante)">
                                    <i class="fas fa-check-circle mr-1"></i> Activar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>