<div class="modal fondo-modal" [ngClass]="modalService.getOcultarModal()?'':'modal-display-block'" id="modal-lg"
    style="padding-right: 17px; " aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg animate__animated animate__fadeInDown">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cursos:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="this.modalService.cerrarModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Curso</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="cursos && cursos.length > 0">
                            <tr *ngFor="let curso of cursos">
                                <td class="text-center">{{curso.id}}</td>
                                <td>{{curso.nombre}}</td>
                                <td class="text-center"><button type="button"
                                        class="btn btn-sm btn-info" (click)="enviarCurso(curso)">Enviar</button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                    (click)="this.modalService.cerrarModal()">Salir</button>
            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>