<section class="content ml-3 mr-3">
    <div class="container-fluid animate__animated">
        <form id="formMatricula" (ngSubmit)="submit()" [formGroup]="formMatricula">
            <div class="card card-indigo border">
                <div class="card-header text-center">
                    <h5 class="card-title m-0">Registro de Matricula</h5>
                    <small class="float-right">Fecha: {{ hoy | date:'dd-MM-yyyy'}}</small>
                </div>

                <div class="card-body">
                    <h4 class="text-secondary">Datos del Estudiante</h4>
                    <hr>
                    <div formGroupName="estudiante">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label>Estudiante:</label>
                                    <input type="text"
                                        class="form-control animate__animated animate__fadeInUp animate__faster"
                                        [ngClass]="{'is-invalid': this.formService.campoNoValido('estudiante.nombres', formMatricula, formSubmited)}"
                                        placeholder="Estudiante" formControlName="nombres">
                                    <span class="error invalid-feedback">Por favor complete este campo.</span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>DNI: <strong class="text-danger">*</strong></label>
                                    <div class="spinner-border spinner-border-sm ml-2 mb-1" role="status"
                                        *ngIf="spinnerDNI">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text"
                                            class="form-control animate__animated animate__fadeInUp animate__faster"
                                            [ngClass]="{'is-invalid': this.formService.campoNoValido('estudiante.dni', formMatricula, formSubmited)}"
                                            placeholder="Ingrese DNI" (input)="setDNI($event)" formControlName="dni"
                                            maxlength="12">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn bg-indigo" (click)="buscar()"
                                                [disabled]="disabled()">BUSCAR <i
                                                    class="fas fa-search ml-1"></i></button>
                                            <button type="button" class="btn bg-purple"
                                                (click)="abrirModal()">SELECCIONAR
                                                <i class="fas fa-eye ml-1"></i></button>
                                        </div>
                                        <span class="error invalid-feedback">Por favor busque estudiante.</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Telefono:</label>
                                    <input type="text"
                                        class="form-control animate__animated animate__fadeInUp animate__faster"
                                        placeholder="Telefono" formControlName="telefono">
                                    <span class="error invalid-feedback">Por favor busque Estudiante.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>E-mail:</label>
                                    <input type="text"
                                        class="form-control animate__animated animate__fadeInUp animate__faster"
                                        placeholder="Email" formControlName="email">
                                    <span class="error invalid-feedback">Por favor complete este campo.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="text-secondary mt-2">Datos de Matrícula</h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Especialización: <strong class="text-danger">*</strong></label>
                                <select class="custom-select rounded-2" formControlName="especializacion"
                                    [ngClass]="{'is-invalid': this.formService.campoNoValido('especializacion', formMatricula, formSubmited)}">
                                    <option [ngValue]="null">
                                        <-- SELECCIONE ESPECIALIZACION -->
                                    </option>
                                    <option *ngFor="let esp of especializaciones" [ngValue]="esp">
                                        {{esp.nombre}}
                                    </option>
                                </select>
                                <span class="error invalid-feedback">Por favor seleccione especialización.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Sede: <strong class="text-danger">*</strong></label>
                                <select class="custom-select rounded-2" formControlName="sede"
                                [ngClass]="{'is-invalid': this.formService.campoNoValido('sede', formMatricula, formSubmited)}">
                                    <option [ngValue]="null">
                                        <-- SELECCIONE SEDE -->
                                    </option>
                                    <option *ngFor="let sede of sedes" [ngValue]="sede">
                                        {{sede.nombre}}
                                    </option>
                                </select>
                                <span class="error invalid-feedback">Por favor seleccione sede.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Turno: <strong class="text-danger">*</strong></label>
                                <select class="custom-select rounded-2" formControlName="turno"
                                [ngClass]="{'is-invalid': this.formService.campoNoValido('turno', formMatricula, formSubmited)}">
                                    <option [ngValue]="null">
                                        <-- SELECCIONE TURNO -->
                                    </option>
                                    <option value="Mañana">Mañana</option>
                                    <option value="Noche">Noche</option>
                                </select>
                                <span class="error invalid-feedback">Por favor seleccione turno.</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Numero de Cuotas: <strong class="text-danger">*</strong></label>
                                <select class="custom-select rounded-2" formControlName="num_cuotas"
                                [ngClass]="{'is-invalid': this.formService.campoNoValido('num_cuotas', formMatricula, formSubmited)}">
                                    <option [ngValue]="null">
                                        <-- SELECCIONE NUMERO DE CUOTAS -->
                                    </option>
                                    <option value="12">12</option>
                                    <option value="11">11</option>
                                    <option value="10">10</option>
                                    <option value="9">9</option>
                                </select>
                                <span class="error invalid-feedback">Por favor seleccione numero de cuotas.</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Periodo: <strong class="text-danger">*</strong></label>
                                <select class="custom-select rounded-2" formControlName="periodo"
                                [ngClass]="{'is-invalid': this.formService.campoNoValido('periodo', formMatricula, formSubmited)}">
                                    <option [ngValue]="null">
                                        <-- SELECCIONE PERIODO -->
                                    </option>
                                    <option *ngFor="let p of periodos" [ngValue]="p">
                                        {{p.nombre}}
                                    </option>
                                </select>
                                <span class="error invalid-feedback">Por favor seleccione periodo.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Detalles: <strong class="text-danger">*</strong></label>
                                <input type="text"
                                    class="form-control animate__animated animate__fadeInUp animate__faster"
                                    placeholder="Detalles de matricula" formControlName="detalles">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center font-weight-bold">
                                <button class="btn btn-success font-weight-bold pl-5 pr-5" type="submit"> REGISTRAR
                                    MATRICULA <i class="fa fa-save ml-2"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>

<app-modal-estudiantes (estudianteSeleccionado)="setEstudianteSeleccionado($event)"></app-modal-estudiantes>