<section class="content ml-3 mr-3">
    <div class="container-fluid animate__animated">
        <div class="card card-indigo border">
            <div class="card-header text-center">
                <h5 class="card-title m-0"><strong>Detalle Matricula</strong></h5>
            </div>
            <div class="card-body">
                <div class="invoice p-3 mb-3 border">
                    <div class="ribbon-wrapper ribbon-lg">
                        <div class="ribbon  text-lg" [ngClass]="
                        [matricula.estado === 'ACTIVO'?'bg-success':'',
                        matricula.estado === 'TERMINADO'?'bg-indigo':'',
                        matricula.estado === 'PENDIENTE'?'bg-warning text-light':'',
                        matricula.estado === 'RETIRADO'?'bg-danger':'']">
                            
                            {{ matricula.estado}}
                        </div>
                    </div>
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <img src="/assets/dist/img/peru21logo.jpg" class="border mr-2" width="120px"
                                    height="120px">CORPORACIÓN EDUCATIVA PERÚ 21
                                <small class="float-right mr-5"><strong>Fecha Registro:</strong>{{ matricula.fecha_reg |
                                    date:'yyyy-MM-dd' + "||||" }}</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <strong>Empleado:</strong>
                            <address>
                                <strong>{{matricula.empleado.nombres + ' ' + matricula.empleado.apellidos}}</strong><br>
                                {{matricula.empleado.num_doc}}<br>
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <strong>Estudiante:</strong>
                            <address>
                                <strong>{{matricula.estudiante.nombres + ' ' +
                                    matricula.estudiante.apellidos}}</strong><br>
                                {{matricula.estudiante.num_doc}}<br>
                                {{matricula.estudiante.distrito.nombre}} |
                                {{matricula.estudiante.distrito.provincia.nombre}} |
                                {{matricula.estudiante.distrito.provincia.departamento.nombre}}<br>
                                {{matricula.estudiante.direccion}}<br>
                                <strong>Telefono/Celular:</strong> {{matricula.estudiante.telefono}}<br>
                                <strong>Email:</strong> {{matricula.estudiante.email}}
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <b>Especializacion:</b> {{matricula.especializacion.nombre}}<br>
                            <b>Turno:</b> {{matricula.turno}}<br>
                            <b>Sede:</b> {{matricula.sede.nombre}}<br>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <hr>
                    <div class="text-center mb-4">
                        <h3>Cronograma de Pagos:</h3>
                    </div>

                    <!-- Table row -->
                    <div class="col-12 table-responsive">
                        <div class="row">
                            <table class="table table-hover table-bordered">
                                <thead class="bg-indigo">
                                    <tr class="text-center">
                                        <th>COD</th>
                                        <th class="text-left">DETALLE:</th>
                                        <th>FECHA PAGO</th>
                                        <th>FECHA VENCIMIENTO</th>
                                        <th>ESTADO</th>
                                        <th>MONTO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of matricula.pagos">
                                        <td class="text-center">{{p.id}}</td>
                                        <td>{{p.pension.descripcion}}</td>
                                        <td class="text-center">{{p.fecha_pago}}</td>
                                        <td class="text-center">{{p.fecha_venc}}</td>
                                        <td class="text-center">
                                            <span class="badge" [ngClass]="
                                            [p.estado === 'PAGADO'?'bg-success':'',
                                            p.estado === 'VENCIDO'?'bg-warning':'',
                                            p.estado === 'PENDIENTE'?'bg-warning':'']">
                                                {{p.estado}}
                                            </span>
                                        </td>
                                        <td class="text-center text-success">
                                            <strong>S/. {{p.pension.monto | number:'1.2-5'}}</strong>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6"> </div>
                        <div class="col-md-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>
                                            <h4>Total:</h4>
                                        </th>
                                        <td class="text-right"><strong>S/. {{matricula.total | number:'1.2-5'}}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <!-- /.row -->

                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a routerLink="/sistema/matriculas" class="btn btn-danger pl-4 pr-4"><i
                                    class="fas fa-back"></i> VOLVER</a>
                            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;"
                                (click)="generatePDF()">
                                <i class="fas fa-print"></i> IMPRIMIR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" *ngIf="cargando">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
        </div>
    </div>
</section>