<section class="content">
  <div class="container-fluid">
    <div class="card card-purple card-outline">
      <div class="card-header text-center">
        <h5 class="card-title m-0"><strong>{{ titulo }}</strong></h5>
      </div>
      <div class="card-body">


        <form>
          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Nombres</label>
                <input type="text" class="form-control" placeholder="Ingrese Nombres">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Apellidos</label>
                <input type="text" class="form-control" placeholder="Ingrese Apellidos">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Tipo Documento</label>
                <select class="form-control">
                  <option>
                    <-- SELECCIONE TIPO DOC -->
                  </option>
                  <option>DNI</option>
                  <option>Pasaporte de Extranjería</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Num Documento</label>
                <input type="text" class="form-control" placeholder="Número documento" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Genero:</label>
                <select class="form-control">
                  <option>
                    <-- SELECCIONE GENERO -->
                  </option>
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Estado Civil</label>
                <select class="form-control">
                  <option>
                    <-- SELECCIONE ESTADO CIVIL -->
                  </option>
                  <option>Soltero/a</option>
                  <option>Casado/a</option>
                  <option>Divorciado/a</option>
                  <option>Viudo/a</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Fecha Nacimiento</label>
                <input type="date" class="form-control" placeholder="Fecha Nacimiento">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Telefono:</label>
                <input type="text" class="form-control" placeholder="Ingrese Nombres">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Ingrese Apellidos">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Departamento:</label>
                <select class="form-control">
                  <option>
                    <-- SELECCIONE DEPARTAMENTO -->
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Provincia</label>
                <select class="form-control">
                  <option>
                    <-- SELECCIONE PROVICIA -->
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Provincia</label>
                <select class="form-control">
                  <option>
                    <-- SELECCIONE DISTRITO -->
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- text input -->
              <div class="form-group">
                <label>Dirección</label>
                <input type="text" class="form-control" placeholder="Ingrese Nombres">
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>

  </div>

</section>