<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-indigo animate__animated animate__backInDown">
          <div class="inner">
            <h3>S/. {{this.ganancias | number:'1.2-2'}}</h3>

            <p>Ganancias del Mes</p>
          </div>
          <div class="icon">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <a routerLink="/sistema/pagos-inicio" class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-purple animate__animated animate__backInUp">
          <div class="inner">
            <h3>{{estudiantes}}</h3>

            <p>Estudiantes Registrados</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-graduate"></i>
          </div>
          <a routerLink="/sistema/estudiantes" class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-teal animate__animated animate__backInDown">
          <div class="inner">
            <h3>{{empleados}}</h3>

            <p>Empleados del Sistema</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-plus"></i>
          </div>
          <a routerLink="/sistema/empleados" class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-maroon animate__animated animate__backInUp">
          <div class="inner">
            <h3>{{matriculas}}</h3>

            <p>Matriculas Registradas</p>
          </div>
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <a routerLink="/sistema/matriculas" class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <h3 class="card-title"><b>Resumen</b></h3>
            </div>
          </div>
          <hr>
          <div class="card-body animate__animated animate__backInUp">
            <div class="position-relative mb-4">
              <ngx-charts-number-card [view]="view" [scheme]="colorScheme" [results]="dataInfo" [cardColor]="cardColor"
                (select)="onSelect($event)" *ngIf="this.dataInfo.length >= 4">
              </ngx-charts-number-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- USERS LIST -->
        <div class="card animate__animated animate__fadeInUp">
          <div class="card-header">
            <h3 class="card-title"><b>Ultimos Miembros</b></h3>

            <div class="card-tools">
              <span class="badge badge-danger">{{ usuarios.length }} miembros</span>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0 ">
            <ul class="users-list clearfix">
              <li *ngFor="let u of usuarios">
                <div class="border rounded-circle pt-5 pb-5 text-center text-light bg-indigo ml-2">
                  <h4 class="mt-2">{{u.empleado.nombres.charAt(0).toUpperCase()}} </h4>
                </div>
                <a class="users-list-name">{{u.empleado.nombres + ' ' + u.empleado.apellidos}}</a>
              </li>
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
            <a routerLink="/sistema/empleados">Ver todos los empleados</a>
          </div>
          <!-- /.card-footer -->
        </div>
        <!--/.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>